

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 144px;
    background: linear-gradient(to bottom, black, transparent);
    margin-bottom: 57px;
}

.logo {
    margin: 30px 25px 25px 25px;
    width: 64px;
    height: 63px;
    margin-bottom: 70px;
}

.fakeButtonDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.fakeButton {
    margin: 40px 23px 10px 23px;
    width: 81px;
    height: 20px;
    left: 1136px;
    border-radius: 35px;
    border: none;
    background-color: #7BA4C7;
}